nav ul:hover {
  background-color: #198754;
  border-radius: 2px;
}

nav ul.lab:hover {
  background-color: #2b65d1;
  border-radius: 2px;
}

nav a:hover{
  color: white;
}


nav a{
  text-decoration: none;
  color: azure;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-left: 0px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  font-size: smaller;
  background-color: rgb(211, 211, 211);
  display: flex;
  justify-content: flex-end;
}

.patient-table{
  font-size: 13px;
}

tr.patient-table:hover{
  cursor: pointer;
  font-weight: bold;
}

.modal-test{
  width: 70vw;
}

.bg-image{
  background-image: url(../src/images/lablogo.jpg);
}
/* Dont Delete Anything above this line */


.ordertable{
  border-collapse: collapse;
  width: 100%;
  padding: auto;
}

.vh-100{
  height: 100vh;
}
