nav li:hover {
  background-color: #095315;
  border-radius: 2px;
}

nav li.lab:hover {
  background-color: #2b65d1;
  border-radius: 2px;
}

nav a:hover{
  color: white;
}

nav a{
  text-decoration: none;
  color: azure;
}

nav ul{
  flex-wrap: wrap;
  margin-bottom: 0px
}

nav li{
  list-style: none;
  padding: 10px;
}

footer {
  font-size: smaller;
  background-color: rgb(211, 211, 211);
  display: flex;
  justify-content: flex-end;
}

.patient-table{
  font-size: 13px;
}

tr.patient-table:hover{
  cursor: pointer;
  font-weight: bold;
}

.modal-test{
  width: 70vw;
}

.bg-image{
  background-image: url(../src/images/lablogo.jpg);
}
/* Dont Delete Anything above this line */


.ordertable{
  border-collapse: collapse;
  width: 100%;
  padding: auto;
}

.fwrap{
  flex-wrap: wrap;
}

/* Orders */
@media (max-width: 768px) {
  .mob{
    display: none;
  }
  .mobtable{
    font-size: 10px;
  }
  .mobresform{
    font-size: 12px;
  }
}

