*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
  }
  
  .login-form-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .form-wrapper {
    width: auto;
    height: auto;
    background-color: rgb(6, 119, 15);
    border: 1px solid black;
    box-shadow: 1px 2px 2px rgb(173, 173, 173) ;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .login-form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(255, 255, 255);
      height: 100%;
      width: 100%;
      margin: 5px;
      padding: 20px;
  }

  .login-form-content{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
  }

  form{
      margin-top: 30px;
  }

  #form-field{
    width: 250px;
    height: 1.5rem;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: 1px solid black;
}

.login-form-botton{
    color: white;
    background-color: rgb(6, 119, 15);
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid black;
}

.login-form-botton:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 94, 16);
    cursor: pointer;
}

.errormsg{
    color: red;
    font-size: small;
    font-weight: bold;
}

.stcamlogo{
    height: 50%;
    position: relative;
}