.checkin-modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
 
.loading-modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(243, 243, 243, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.checkin-modal-wrapper{
    background-color: white;
    width: 500px;
    border: 1px solid black;
}

.pres-modal-wrapper{
    background-color: white;
    width: 60%;
    border: 1px solid black;
    height: 60%;
    overflow: auto;
}

.login-modal-wrapper{
    background-color: white;
    width: 300px;
    border: 1px solid black;
}

.checkin-modal-footer{
    padding: 10px;
    justify-content: center;
    display: flex;
}

.checkin-modal-header{
    background-color: rgb(10, 105, 194);
    color: white;
    padding: 10px;
    border-bottom: 1px solid black;
    top: 0;
    position: sticky;
}

.loading-modal-header{
    background-color: rgb(118, 231, 137);
    color: white;
    padding: 10px;
    border-bottom: 1px solid black;
}

.login-modal-header{
    background-color: red;
    color: white;
    padding: 10px;
    border-bottom: 1px solid black;
}

.checkin-closebtn{
    position: relative;
    right: 10px;
    bottom: 20px;
    float: right;
    font-weight: bolder;
    cursor: pointer;
    border: 1px solid white;
    width: 20px;
    text-align: center;
    font-size: 12px;
}

.checkin-closebtn:hover{
    background-color: red;
    border-color: black;
}

.lab-modal-body{
    padding: 30px;
    border-top: 1px solid #eee;
}

.res-footer{
    padding: 30px;
}
.loading-modal-body{
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.order-dits{
    font-size: small;
}

.checkin-btn{
    border: 1px solid black;
    margin: 2px;
    padding: 4px;
    color: white;
    border-radius: 3px;
}

.checkin-btn:hover{
    cursor: pointer;
    font-weight: bolder;
}

.accept{
    background-color: rgb(10, 105, 194);
}

.reject{
    background-color: red;
}

.checkin-btn-disabled{
    border: 1px solid black;
    margin: 2px;
    padding: 4px;
    color: black;
    border-radius: 3px;
    cursor: not-allowed;
    background-color: rgb(255, 147, 147);
}